# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
customcomponents
customcomponents/
highlights.js
test.py
index.html
style.css
server/database/



# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
